/**
 * Variables naming rule: --{selector aka component aka namespace}-{css property}-{pseudo class or media query name} eg. --p-background-color-hover 
 * NOTE: Within the component don't use any name spacing eg. component header don't use --header-default-color just use --color the namespace can be added by the Shadow as an html attribute
 * - if a component holds other components or nodes you can declare or remap classes eg. :host > h1 {--color: var(--h1-color, white);}
 * - if a component holds other components you should share the attribute namespace with its children
 */

 @font-face{
	font-family:"Kashima";
	src:url("../font/Kashima.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

 :root {
  --a-color: var(--color-active);
  --a-text-decoration: none;
  --background-color-rgba-50: rgba(0, 15, 51, 0.5);
  --background-color-smallListContainer: rgba(255,255,255,0.7);
  --background-color: var(--dark);
  --border-radius: 0.7em;
  --box-shadow-default: 0px 4px 8px rgba(0, 0, 0, 0.2);
  --button-primary-border-color-hover: transparent;
  --button-primary-border-color: var(--color-secondary);
  --button-primary-border-radius: var(--border-radius);
  --button-primary-border-width: 7px;
  --button-primary-color-custom: var(--color);
  --button-primary-color-hover-custom: var(--background-color);
  --button-primary-transform-hover: scale(1.05);
  --button-primary-transition-custom: border-color .5s ease, background-color .3s ease, color .3s ease, transform .2s ease;
  --button-secondary-border-radius: var(--border-radius);
  --button-secondary-border-width-custom: 2px;
  --button-secondary-transform-hover: scale(1.05);
  --button-secondary-transition-custom: border-color .3s ease-out, color .3s ease-out, transform .2s ease;
  --color-active: #fccf00;
  --color-disabled: gray;
  --color-error: red;
  --color-hover: var(--color-active);
  --color-rgba-50: rgba(255, 248, 224, 0.3);
  --color-secondary-rgba-50: rgba(166, 12, 15, 0.5);
  --color-secondary: #a80d10;
  --color: var(--light);
  --content-spacing-mobile: 1rem;
  --content-spacing: 1.143rem;
  --dark: #000f33;
  --dialog-left-slide-in-background-color: var(--background-color, canvas);
  --dialog-left-slide-in-gap-custom: var(--spacing);
  --dialog-left-slide-in-padding-custom: var(--spacing);
  --dialog-top-slide-in-background-color: var(--dialog-left-slide-in-background-color);
  --dialog-top-slide-in-ul-margin: 0;
  --font-family-secondary: Kashima, Arial, sans-serif;
  --font-family: Arial, sans-serif;
  --font-size-mobile: min(14px, 5vw);
  --font-size: max(16px, 0.8vw);
  --font-weight: 400;
  --h-font-family: var(--font-family-secondary);
  --h-line-height: 1em;
  --h-margin-bottom: 1.143rem;
  --h-text-align: center;
  --h1-color: var(--color);
  --h1-font-size: 4.5em;
  --h2-color: var(--color-secondary);
  --h2-font-size: 3.5em;
  --h3-color: var(--color);
  --h3-font-size: 1.25em;
  --h4-color: var(--color);
  --h4-font-family: var(--font-family);
  --header-height: 3em;
  --input-font-size-mobile: max(var(--font-size-mobile), 16px);
  --light: #fff8e0;
  --line-height: 1.5;
  --logo-invert-svg-height: 2em;
  --menu-icon-close-background-color: var(--menu-icon-open-background-color);
  --menu-icon-close-border-radius: var(--menu-icon-open-border-radius);
  --menu-icon-close-height: var(--menu-icon-open-height);
  --menu-icon-close-margin: calc(var(--header-height) / 3) 0 var(--spacing) calc(-1.5 * var(--spacing));
  --menu-icon-close-padding: var(--menu-icon-open-padding);
  --menu-icon-close-width: var(--menu-icon-open-width);
  --menu-icon-open-background-color: var(--dark);
  --menu-icon-open-border-radius: 25%;
  --menu-icon-open-height: 3px;
  --menu-icon-open-padding: 0;
  --menu-icon-open-width: 28px;
  --outline-color: var(--color-secondary);
  --p-text-align: center;
  --spacing: 0.5rem;
  --wct-input-border: 1px solid var(--dark);
  --wct-input-input-bg-color-disabled: lightgray;
  --wct-input-input-bg-color: field;
  --wct-input-input-color-disabled: darkgray;
  --wct-input-placeholder-color: darkgray;
  --wct-middle-input-border: var(--wct-input-border);
  --wct-middle-input-input-bg-color-disabled: var(--wct-input-input-bg-color);
  --wct-middle-input-input-bg-color: var(--wct-input-input-bg-color);
  --wct-middle-input-input-color-disabled: var(--wct-input-border);
  --wct-middle-input-placeholder-color: lightgray;
  background-color: var(--background-color, transparent);
  color: var(--color, white);
  font-family: var(--font-family, sans-serif);
  letter-spacing: var(--letter-spacing, normal);
  transition: var(--transition, color 0.3s ease-out, background-color 0.3s ease-out);
}
:root[invert] {
  --background-color: var(--light);
  --a-color: var(--color-secondary);
  --color: var(--dark);
  --color-active: var(--a-color);
  --button-primary-color-custom: var(--background-color);
}
body {
  margin: 0;
  min-height: var(--body-min-height, var(--min-height, 100svh));
  overflow: hidden;
  padding: 0;
}
c-router {
  display: flex;
  height: 100svh;
}
/* LOADER: https://www.cssportal.com/css-loader-generator/ */
.custom-loader {
  margin: auto;
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
  border: 0.5em solid #0000;
  border-right-color: var(--color-rgba-50);
  position: relative;
  animation: s4 1s infinite linear;
  opacity: 1 !important;
}
.custom-loader:before,
.custom-loader:after {
  content: "";
  position: absolute;
  inset:-0.5em;
  border-radius: 50%;
  border:inherit;
  animation:inherit;
  animation-duration: 2s;
}
.custom-loader:after {
  animation-duration: 4s;
}
@keyframes s4 {
  100% {transform: rotate(1turn)}
}
