:host {
    --logo-default-background-color: var(--background-color);
    --logo-default-color-rgba-50: var(--color-rgba-50);
    --logo-default-color-shadow: var(--color-red);
    --logo-default-color-star: var(--color-active);
    --logo-default-color: var(--color);
}